body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

a:hover {
  color: rgba(255, 188, 158, 255);
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.nav ul {
  list-style: none;
}

.nav a {
  font-weight: 700;  
}

.nav a.active {
  color: #ffffff;
}
.nav a:hover {
  color: rgba(50, 50, 50, 255);
  border: none;
  background-color: #f7f6f3;  
}

.nav-active {
  color: #ffffff;
  background-color: #d07058; 
}

.popup a {
  font-weight: 400;
  color: rgba(50, 50, 50, 255);
  border: none;
}

.popup a:hover {
  background-color: #fbded7;
}

.popup a:active {
  background-color: #f6b5a5;
}

.popup li:first-child a{
  font-weight: 700;
}

.popup .active {
  color: #ffffff;
  background-color: #d07058;
}

.popup {
  background-color: #f8f7f4
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: #b0c0b7;
}

.search-icon {
  background-image: url("../img/magnifier-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
}